<%= form_for(@service) do |f| %>
  <% if @service.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@service.errors.count, "error") %> prohibited this service from being saved:</h2>

      <ul>
      <% @service.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <div class="form-group row">
      <div class="col-sm-6">
        <%= f.label :service %><br>
        <%= f.text_area :service, class:"form-control" %>
      </div>
    </div>
  </div>

  <div class="actions">
    <div class="col-sm-4">
      <%= f.submit nil, class: "btn btn-success block full-width m-b" %>
    </div>
  </div>
<% end %>
