<p id="notice"><%= notice %></p>

<h1>Service Questions</h1>

<div class="form-group row">
  <div class="col-sm-3 pull-left">
    <%= link_to 'Add Section', new_section_path, class: "btn btn-success block full-width m-b" %>
  </div>
  <div class="col-sm-5 pull-left">
    <%= link_to 'Add Service', new_service_path, class: "btn btn-primary block full-width m-b" %>
  </div>

</div>

<h2>Your Caregivers will be asked these questions when they clock out.</h2>

<% @services.each do |service| %>
  <%= form_for [service] do |f| %>


      <div class="field">
          <br>
          <div class="form-group row">
          <div class="col-sm-6">
            <%= f.text_area :service, class:"form-control" %>
          </div>
          <div class="col-sm-2">
            <div class="actions">
              <%= f.submit nil, class: "btn btn-success block full-width m-b pull-right" %>
            </div>
          </div>
          <div class="col-sm-2">
            <div class="actions">
              <%= link_to "Delete", service_path(service), :method => :delete,  data: {confirm: 'Are you sure?' },
                :class => "btn btn-danger full-width m-b btn-outline pull-left" %>
            </div>
          </div>
          </div>
          <div class="form-group row">
            <div class="col-sm-4">
              <%= f.text_field :short_desc, class:"form-control", placeholder:"Short Description" %>
              <span class="help-block m-b-none">This is the description used in the Weekly Report</span>
            </div>
            <div class="field">
              <div class="form-group">
                  <div class="col-sm-4">
                    <%= f.collection_select :section, @sections, :section, :section,
                      {:class => 'prevent_collapse'},:class => "form-control m-b" %>
                  </div>
              </div>
            </div>
          </div>
          <br>
      </div>


  <% end %>
<% end %>
