<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-8">
        <h2>Calendar</h2>
        <ol class="breadcrumb">
            <li>
                <a href="<%= url_for :controller => 'dashboard', :action => 'index' %>">Dashboard</a>
        </li>
        <li class="active">
            <strong>Schedule</strong>
        </li>
    </ol>
</div>
        </div>
<div class="wrapper wrapper-content">
<div class="row animated fadeInDown">
    <div class="col-lg-3">
        <div class="ibox float-e-margins">
            <div class="ibox-content">
                <h2>Stay Organized</h2>
                Keep track of all your Clients and Caregivers.
                <br><br>Your Shifts are displayed here.
                <p>
                    <a href="/shifts/new" target="_blank">Create a Shift</a>
                </p>
            </div>
        </div>
        <div class="ibox float-e-margins">
            <div class="ibox-content">
                <a href="/shifts" class="btn btn-block btn-primary">View All Shifts</a>
                <a href="/shifts/new" class="btn btn-block btn-success">Create Shift</a>
            </div>
        </div>
    </div>
    <div class="col-lg-9">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <%if current_user.agency_name[current_user.agency_name.length - 1] == 's'%>
                  <h5><%=current_user.agency_name%>' Schedule</h5>
                <%else%>
                  <h5><%=current_user.agency_name%>'s Schedule</h5>
                <%end%>

                <div class="ibox-tools">
                    <a class="collapse-link">
                        <i class="fa fa-chevron-up"></i>
                    </a>
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        <i class="fa fa-wrench"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-user">
                        <li>
                            <a href="#">Config option 1</a>
                        </li>
                        <li>
                            <a href="#">Config option 2</a>
                        </li>
                    </ul>
                    <a class="close-link">
                        <i class="fa fa-times"></i>
                    </a>
                </div>
            </div>
            <div class="ibox-content">
                <div id="calendar"></div>
            </div>
        </div>
    </div>
</div>
</div>


<% content_for :javascript do %>

<script type="text/javascript">


$(function() {

    $('.i-checks').iCheck({
        checkboxClass: 'icheckbox_square-green',
        radioClass: 'iradio_square-green',
    });

    /* initialize the external events
     -----------------------------------------------------------------*/


    $('#external-events div.external-event').each(function () {

        // store data so the calendar knows to render an event upon drop
        $(this).data('event', {
            title: $.trim($(this).text()), // use the element's text as the event title
            stick: true // maintain when user navigates (see docs on the renderEvent method)
        });

        // make the event draggable using jQuery UI
        $(this).draggable({
            zIndex: 1111999,
            revert: true,      // will cause the event to go back to its
            revertDuration: 0  //  original position after the drag
        });

    });


    /* initialize the calendar
     -----------------------------------------------------------------*/
    var date = new Date();
    var d = date.getDate();
    var m = date.getMonth();
    var y = date.getFullYear();
    var shifts = [];

    <%current_user.clients.each do |c|%>
      <%c.shifts.each do |s|%>
        var shift = {
          title: "<%="#{s.caregiver.name} @ #{s.client.name}"%>",
          start: new Date(<%=s.start_time.year%>, <%=s.start_time.month%> - 1, <%=s.start_time.day%>, <%=s.start_time.hour%>, <%=s.start_time.min%>),
          end: new Date(<%=s.end_time.year%>, <%=s.end_time.month%> - 1, <%=s.end_time.day%>, <%=s.end_time.hour%>, <%=s.end_time.min%>),
          allDay: false,
          url: "/shifts/<%=s.id%>"
        };
        <%#.in_time_zone(current_user.time_zone)%>
        <%p s.id%>
        shifts.push(shift);
      <%end%>
    <%end%>

    $('#calendar').fullCalendar({
        header: {
            left: 'prev,next today',
            center: 'title',
            right: 'agendaDay,agendaWeek,month'
        },
        defaultView: "agendaWeek",
        editable: true,
        droppable: true, // this allows things to be dropped onto the calendar
        drop: function () {
            // is the "remove after drop" checkbox checked?
            if ($('#drop-remove').is(':checked')) {
                // if so, remove the element from the "Draggable Events" list
                $(this).remove();
            }
        },
        events: shifts,
    });


});

</script>

<% end %>
