<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-sm-10">
        <h2>Tutorials</h2>
        <ol class="breadcrumb">
            <li>
                <a href="<%= url_for :controller => 'dashboard', :action => 'index' %>">Dashboard</a>
        </li>
        <li class="active">
            <strong>Tutorials</strong>
        </li>
    </ol>
</div>
<div class="col-sm-2">

</div>
        </div>
<div class="wrapper wrapper-content  animated fadeInRight">
<div class="row">
    <div class="col-sm-12">
        <div class="ibox ">
            <div class="ibox-title">
                <h5>Explore all your tools </h5>
            </div>
            <div class="ibox-content">
                <p>
                </p>
                <div class="row">
                    <div class="col-md-4">
                        <h4>Create an Office (2 min)</h4>
                        <a href="<%= url_for :controller => 'tutorials', :action => 'quickstart' %>">
                          <img src="<%= image_path('vid_office.png') %>" class="img-responsive" alt="">
                        </a>
                    </div>
                    <div class="col-md-4">
                        <h4>Create a Caregiver (2 min)</h4>
                        <a href="<%= url_for :controller => 'tutorials', :action => 'quickstart_step2' %>">
                        <img src="<%= image_path('vid_caregiver.png') %>" class="img-responsive" alt="">
                        </a>
                    </div>
                    <div class="col-md-4">
                        <h4>Create a Client/Patient (2 min)</h4>
                        <a href="<%= url_for :controller => 'tutorials', :action => 'quickstart_step3' %>">
                        <img src="<%= image_path('vid_client.png') %>" class="img-responsive" alt="">
                        </a>
                    </div>
                </div>
                <br>
                <div class="row">
                  <div class="col-md-4">
                      <h4>Duplicate Tutorial (2 min)</h4>
                      <a href="<%= url_for :controller => 'tutorials', :action => 'quickstart_step2' %>">
                      <img src="<%= image_path('call_logs_report.png') %>" class="img-responsive" alt="">
                      </a>
                  </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
