<%= form_for(@shift) do |f| %>
  <% if @shift.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@shift.errors.count, "error") %> prohibited this shift from being saved:</h2>

      <ul>
      <% @shift.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="ibox float-e-margins">
    <div class="ibox-title">
        <h5>Create Shift </h5>
        <div class="ibox-tools">
            <a class="collapse-link">
                <i class="fa fa-chevron-up"></i>
            </a>
            <a class="close-link">
                <i class="fa fa-times"></i>
            </a>
        </div>
    </div>
    <div class="ibox-content">
      <div class="field">
        <div class="form-group"><label class="col-sm-2 control-label">Start Time</label>
        <div class="col-sm-10">
              <%= f.datetime_select :start_time %>
        </div>
        </div>
      </div>

      <br/>

      <div class="field">
        <div class="form-group"><label class="col-sm-2 control-label">End Time</label>
        <div class="col-sm-10">
          <%= f.datetime_select :end_time %>
        </div>
        </div>
      </div>

      <br/>
      <br/>

      <div class="field">
        <div class="form-group"><label class="col-sm-2 control-label">Select Caregiver</label>
          <div class="row">
            <div class="col-sm-4">
              <%= f.collection_select :caregiver_id, current_user.caregivers, :id, :name,
                {:class => 'prevent_collapse'},:class => "form-control m-b", :include_blank => 'Select' %>
            </div>
          </div>
        </div>
      </div>

      <br/>

      <div class="field">
        <div class="form-group"><label class="col-sm-2 control-label">Select Client</label>
          <div class="row">
            <div class="col-sm-4">
              <%= f.collection_select :client_id, current_user.clients, :id, :name,
                {:class => 'prevent_collapse'},:class => "form-control m-b", :include_blank => 'Select' %>
            </div>
          </div>
        </div>
      </div>


      <br/>
      <div class="field">
        <div class="form-group"><label class="col-sm-2 control-label">Notes</label>
        <div class="col-sm-7">
          <%= f.text_area :notes, class:"form-control" %>
          <span class="help-block m-b-none"></span>
          <br>
        </div>
        </div>
      </div>

      <br/><br/><br/><br/><br/>

      <div class="field ">
        <div class="form-group"><label class="col-sm-2 control-label">Status</label>
          <div class="col-sm-4">
            <%= f.collection_select :status, ["Active", "Inactive", "On Hold"], :to_s, :to_s,
            {:class => 'prevent_collapse'},:class => "form-control m-b", :include_blank => 'Select' %>
          </div>
        </div>
      </div>

      <br/>
      <br/>
      <br/>

    </div>
  </div>


  <div class="ibox float-e-margins col-sm-6">
    <div class="ibox-title">
        <h5>Repeat Shift </h5>
        <div class="ibox-tools">
            <a class="collapse-link">
                <i class="fa fa-chevron-up"></i>
            </a>
            <a class="close-link">
                <i class="fa fa-times"></i>
            </a>
        </div>
    </div>
    <div class="ibox-content">
      <div class="">
        <%= fields_for(@recurring_shift) do |u| %>
          <div class="row">
            <div class="col-sm-12">
              <label class="font-normal">Would like to repeat this shift in the future?</label><br>
              <%if @shift.recurring_shift%>
                <input type="checkbox" checked class="js-switch_4" />
              <%else%>
                <input type="checkbox" class="js-switch_4" />
              <%end%>
            </div>
          </div>
          <div class="row">
            <div class="field">
              <div class="form-group"><label class="col-sm-2 control-label">Frequency</label>
                <div class="col-sm-5">
                  <%= u.select :frequency, options_for_select(@frequencies, @selected_frequency),
                  {:class => 'prevent_collapse', :id => 'frequency-id'},:class => "form-control m-b", :include_blank => 'Select' %>
                </div>
              </div>
            </div>
          </div>

          <div class="form-group" id="data_1">
            <label class="control-label">End Repeat</label>
            <div class="input-group date col-sm-6">
                <span class="input-group-addon"><i class="fa fa-calendar"></i></span><%= u.text_field :time_span, class:"form-control", value:"#{@default_end_time}", :id => 'time_span-id'%>
            </div>

            <br>
          </div>

        <% end %>
      </div>
    </div>
  </div>


  <div class="actions">
    <%= f.submit nil, class: "btn btn-success block full-width m-b" %>
  </div>

  <div class="actions">
    <%if @shift.id%>
        <%= link_to "Delete Shift", shift_path(@shift), :method => :delete,  data: {confirm: 'Are you sure?' },
          :class => "btn btn-danger block half-width m-b btn-outline" %>
    <%end%>
  </div>

    <div class="ibox-content">
      <div id="modal-form" class="modal fade" aria-hidden="true">
          <div class="modal-dialog">
              <div class="modal-content">
                  <div class="modal-body">
                      <div class="row">
                          <div class="col-sm-12 b-r"><h3 class="m-t-none m-b pull-center">Update All Future Shifts</h3>

                              <p>Would you like to update all future shifts?</p> <br><br><br>

                              <form role="form">
                                  <div style="text-align: center" class="col-sm-8">
                                    <button class="btn btn-md btn-primary m-t-n-sm col-sm-5" value="A" onclick=""><strong>Yes</strong></button>
                                    <span style="width: 10px"></span>
                                    <button class="btn btn-md btn-success pull-right m-t-n-sm col-sm-5" value="B" onclick=""><strong>No</strong></button>
                                  </div>
                              </form>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
    </div>
<% end %>



<% content_for :javascript do %>

<script type="text/javascript">
  $(function() {
  $('#data_1 .input-group.date').datepicker({
        todayBtn: "linked",
        keyboardNavigation: false,
        forceParse: false,
        calendarWeeks: true,
        autoclose: true
    });
    var elem_4 = document.querySelector('.js-switch_4');
    var switchery_4 = new Switchery(elem_4, { color: '#f8ac59' });

  });


</script>

<% end %>
