<% content_for :koudoku do %>
<script type="text/javascript" src="https://js.stripe.com/v2/"></script>
<% end %>

<%= form_for @subscription, url: url, html: {id: 'payment-form', class: 'form-horizontal'} do |f| %>

  <fieldset>

    <legend><%= title %></legend>

    <div class="control-group">
      <label class="control-label">Card Number</label>
      <div class="controls">
        <div class="row-sm-10">
          <div class="col-sm-4">
            <input type="text"  maxlength="20" autocomplete="off" class="card-number form-control"/>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <br/>
      <br/>
      <br>
    </div>

    <div class="control-group">

      <label class="control-label">Expiration (MM/YYYY)</label>
      <div class="controls">
        <div class="row">
          <div class="col-sm-10">
            <div class="col-md-1"><input type="text" size="2" placeholder="09" class="card-expiry-month form-control input-sm" data-mask="99"></div>
            <div class="col-md-2"><input type="text" size="4" placeholder="2023" class="card-expiry-year form-control input-sm" data-mask="9999"></div>
          </div>
        </div>

        <div class="row">
          <br>
        </div>

        <label class="control-label">CVC New</label>
        <div class="row">
            <div class="col-sm-10">
                <div class="col-md-2"><input type="text" maxlength="4" placeholder="999" class="card-cvc form-control input-sm" ></div>
            </div>
        </div>
      </div>
    </div>

    <div class="row">
      <br>
    </div>

    <div class="alert alert-error payment-errors"></div>
    <%= f.hidden_field :plan_id %>

  </fieldset>

  <div class="control-group">
    <div class="controls">
      <% if Koudoku.free_trial? %>
        <button type="submit" class="btn btn-primary submit-button">Save Billing Information</button>
      <% else %>
        <button type="submit" class="btn btn-primary submit-button">Upgrade Your Account</button>
      <% end %>
      <%= link_to "Cancel", owner_subscriptions_path(@owner), class: 'btn' %>
    </div>
  </div>

<% end %>

<script type="text/javascript">

  // All this code taken from Stripe's own examples at:
  // https://stripe.com/docs/tutorials/forms .

  function stripeResponseHandler(status, response) {

      if (response.error) {
          // show the errors on the form
          $(".payment-errors").text(response.error.message).show();
          $(".submit-button").removeAttr("disabled");
      } else {
          var form$ = $("#payment-form");
          // token contains id, last4, and card type
          // insert the token into the form so it gets submitted to the server
          form$.append("<input type='hidden' name='subscription[credit_card_token]' value='" + response['id'] + "'/>");
          form$.append("<input type='hidden' name='subscription[last_four]' value='" + response['last4'] + "'/>");
          form$.append("<input type='hidden' name='subscription[card_type]' value='" + response['card_type'] + "'/>");
          // and submit
          form$.get(0).submit();
      }
  }

  $(document).ready(function() {

    Stripe.setPublishableKey("<%= Koudoku.stripe_publishable_key %>");

    // By default, don't show errors.
    $(".payment-errors").hide()

    $("#payment-form").submit(function(event) {

      // disable the submit button to prevent repeated clicks
      $('.submit-button').attr("disabled", "disabled");

      Stripe.createToken({
          number: $('.card-number').val(),
          cvc: $('.card-cvc').val(),
          exp_month: $('.card-expiry-month').val(),
          exp_year: $('.card-expiry-year').val()
      }, stripeResponseHandler);

      // prevent the form from submitting with the default action
      return false;
    });
  });

</script>
