<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>Reports</h2>
        <ol class="breadcrumb">
            <li>
                <a href="<%= url_for :controller => 'dashboard', :action => 'index' %>">Dashboard</a>
        </li>
        <li class="active">
            <strong>Reports</strong>
        </li>
    </ol>
</div>
<div class="col-lg-2">

</div>
        </div>
<div class="wrapper wrapper-content  animated fadeInRight">
<div class="row">
    <div class="col-lg-12">
        <div class="ibox ">
            <div class="ibox-title">
                <h5>Reports for your business</h5>
            </div>
            <div class="ibox-content">
                <p>
                </p>
                <div class="row">
                    <div class="col-md-4">
                        <h4>Custom Prompt Report</h4>
                        <a href="<%= url_for :controller => 'reports', :action => 'custom_prompt_report' %>">
                          <img src="<%= image_path('custom_prompt_report.png') %>" class="img-responsive" alt="">
                        </a>
                    </div>
                    <div class="col-md-4">
                        <h4>Call Logs</h4>
                        <a href="<%= url_for :controller => 'reports', :action => 'call_logs' %>">
                        <img src="<%= image_path('call_logs_report.png') %>" class="img-responsive" alt="">
                        </a>
                    </div>
                    <div class="col-md-4">
                        <h4>Activity Report</h4>
                        <a href="<%= url_for :controller => 'reports', :action => 'activity_report' %>">
                        <img src="<%= image_path('Activity_Report.png') %>" class="img-responsive" alt="">
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
