<p id="notice"><%= notice %></p>

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>Timecard Report</h2>
        <ol class="breadcrumb">
            <li>
                <a href="<%= url_for :controller => 'dashboard', :action => 'index' %>">Dashboard</a>
            </li>
            <li>
                <a href="<%= url_for :controller => 'reports', :action => 'index' %>">Reports</a>
            </li>
            <li class="active">
                <strong>Timecard Report</strong>
            </li>
    </ol>
</div>
<div class="col-lg-2">

</div>
        </div>
<div class="wrapper wrapper-content animated fadeInRight">
<div class="row">
<div class="col-lg-12">
<div class="ibox float-e-margins">
<div class="ibox-title">
    <h5>Calls</h5>

    <div class="range-query">
      <%= form_tag url: "/reports/timecard_report", method: :get do %>
        <div class="ibox float-e-margins form-group" id="data_5">
          <div class="col-sm-2 pull-right">
            <%= submit_tag "Search", class: "btn btn-success search-button pull-right" %>
          </div>
          <div class="input-daterange input-group pull-right" id="datepicker">
              <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
              <%= text_field_tag 'search[date_from]', @search.convert_to_display(@search.date_from), class: "input-sm form-control"%>
              <span class="input-group-addon">-</span>
              <%= text_field_tag 'search[date_to]', @search.convert_to_display(@search.date_to), class: "input-sm form-control" %>
          </div>

        </div>

      <% end  %>
    </div>

    <div class="ibox-tools">
        <a class="collapse-link">
        </a>
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
        </a>
        <ul class="dropdown-menu dropdown-user">
            <li>
                <a href="#">Config option 1</a>
            </li>
            <li>
                <a href="#">Config option 2</a>
            </li>
        </ul>
        <a class="close-link">
        </a>
    </div>
</div>
<div class="ibox-content">

<table class="table table-striped table-bordered table-hover dataTables-example">
<thead>
<tr>
    <th>Date</th>
    <th>Client</th>
    <th>Clock In</th>
    <th>Clock Out</th>
    <th>Duration</th>
</tr>
</thead>
<tbody>
  <% @calls.each do |c| %>
    <tr class="gradeX">
        <td class="center"><div style="font-size:0; color:transparent;"><%= c.created_at%></div> <%=c.created_at.strftime("%A, %m/%d")%></td>
        <%if c.client%>
          <td><%= link_to c.client.name, client_path(c.client) %></td>
        <%else%>
          <td></td>
        <%end%>
        <%if c.clock_in%>
          <td class="center"><%=c.clock_in.strftime("%I:%M %p")%></td>
        <%else%>
          <td></td>
        <%end%>
        <td class="center"><%=c.created_at.strftime("%I:%M %p")%></td>

        <%if c.duration%>
          <td><%=c.duration %></td>
        <%else%>
          <td></td>
        <%end%>

    </tr>
  <% end %>
</tbody>
<tfoot>
  <tr>
    <th>Date</th>
    <th>Client</th>
    <th>Clock In</th>
    <th>Clock Out</th>
    <th>Duration</th>
  </tr>
</tfoot>
</table>

</div>
</div>
</div>
</div>

</div>

<% content_for :javascript do %>

<script type="text/javascript">


$(function() {

    $('.dataTables-example').DataTable({
        pageLength: 25,
        responsive: true,
        dom: '<"html5buttons"B>lTfgitp',
        buttons: [
            { extend: 'copy'},
            {extend: 'csv'},
            {extend: 'excel', title: 'Timecard Report | <%=current_user.agency_name%>'},
            {extend: 'pdf', title: 'Timecard Report | <%=current_user.agency_name%>'}

        ]

    });

    var $image = $(".image-crop > img")
    $($image).cropper({
        aspectRatio: 1.618,
        preview: ".img-preview",
        done: function (data) {
            // Output the result data for cropping image.
        }
    });
    var $inputImage = $("#inputImage");
    if (window.FileReader) {
        $inputImage.change(function () {
            var fileReader = new FileReader(),
                    files = this.files,
                    file;
            if (!files.length) {
                return;
            }
            file = files[0];
            if (/^image\/\w+$/.test(file.type)) {
                fileReader.readAsDataURL(file);
                fileReader.onload = function () {
                    $inputImage.val("");
                    $image.cropper("reset", true).cropper("replace", this.result);
                };
            } else {
                showMessage("Please choose an image file.");
            }
        });
    } else {
        $inputImage.addClass("hide");
    }
    $("#download").click(function () {
        window.open($image.cropper("getDataURL"));
    });
    $("#zoomIn").click(function () {
        $image.cropper("zoom", 0.1);
    });
    $("#zoomOut").click(function () {
        $image.cropper("zoom", -0.1);
    });
    $("#rotateLeft").click(function () {
        $image.cropper("rotate", 45);
    });
    $("#rotateRight").click(function () {
        $image.cropper("rotate", -45);
    });
    $("#setDrag").click(function () {
        $image.cropper("setDragMode", "crop");
    });
    $('#data_1 .input-group.date').datepicker({
        todayBtn: "linked",
        keyboardNavigation: false,
        forceParse: false,
        calendarWeeks: true,
        autoclose: true
    });
    $('#data_2 .input-group.date').datepicker({
        todayBtn: "linked",
        keyboardNavigation: false,
        forceParse: false,
        calendarWeeks: true,
        autoclose: true
    });
    $('#data_3 .input-group.date').datepicker({
        startView: 2,
        todayBtn: "linked",
        keyboardNavigation: false,
        forceParse: false,
        autoclose: true
    });
    $('#data_4 .input-group.date').datepicker({
        minViewMode: 1,
        keyboardNavigation: false,
        forceParse: false,
        autoclose: true,
        todayHighlight: true
    });
    $('#data_5 .input-daterange').datepicker({
        keyboardNavigation: false,
        forceParse: false,
        autoclose: true
    });
    var elem = document.querySelector('.js-switch');
    var switchery = new Switchery(elem, { color: '#1AB394' });
    var elem_2 = document.querySelector('.js-switch_2');
    var switchery_2 = new Switchery(elem_2, { color: '#ED5565' });
    var elem_3 = document.querySelector('.js-switch_3');
    var switchery_3 = new Switchery(elem_3, { color: '#1AB394' });
    var elem_4 = document.querySelector('.js-switch_4');
    var switchery_4 = new Switchery(elem_4, { color: '#f8ac59' });
    switchery_4.disable();
    $('.i-checks').iCheck({
        checkboxClass: 'icheckbox_square-green',
        radioClass: 'iradio_square-green',
    });
    $('.demo1').colorpicker();
    var divStyle = $('.back-change')[0].style;
    $('#demo_apidemo').colorpicker({
        color: divStyle.backgroundColor
    }).on('changeColor', function (ev) {
                divStyle.backgroundColor = ev.color.toHex();
            });
    $('.chosen-select').chosen({width: "100%"});
    $(".select2_demo_1").select2();
    $(".select2_demo_2").select2();
    $(".select2_demo_3").select2({
        placeholder: "Select a state",
        allowClear: true
    });
    $(".touchspin1").TouchSpin({
        buttondown_class: 'btn btn-white',
        buttonup_class: 'btn btn-white'
    });
    $(".touchspin2").TouchSpin({
        min: 0,
        max: 100,
        step: 0.1,
        decimals: 2,
        boostat: 5,
        maxboostedstep: 10,
        postfix: '%',
        buttondown_class: 'btn btn-white',
        buttonup_class: 'btn btn-white'
    });
    $(".touchspin3").TouchSpin({
        verticalbuttons: true,
        buttondown_class: 'btn btn-white',
        buttonup_class: 'btn btn-white'
    });
    $("#ionrange_1").ionRangeSlider({
        min: 0,
        max: 5000,
        type: 'double',
        prefix: "$",
        maxPostfix: "+",
        prettify: false,
        hasGrid: true
    });
    $("#ionrange_2").ionRangeSlider({
        min: 0,
        max: 10,
        type: 'single',
        step: 0.1,
        postfix: " carats",
        prettify: false,
        hasGrid: true
    });
    $("#ionrange_3").ionRangeSlider({
        min: -50,
        max: 50,
        from: 0,
        postfix: "°",
        prettify: false,
        hasGrid: true
    });
    $("#ionrange_4").ionRangeSlider({
        values: [
            "January", "February", "March",
            "April", "May", "June",
            "July", "August", "September",
            "October", "November", "December"
        ],
        type: 'single',
        hasGrid: true
    });
    $("#ionrange_5").ionRangeSlider({
        min: 10000,
        max: 100000,
        step: 100,
        postfix: " km",
        from: 55000,
        hideMinMax: true,
        hideFromTo: false
    });
    $(".dial").knob();
    $("#basic_slider").noUiSlider({
        start: 40,
        behaviour: 'tap',
        connect: 'upper',
        range: {
            'min': 20,
            'max': 80
        }
    });
    $("#range_slider").noUiSlider({
        start: [40, 60],
        behaviour: 'drag',
        connect: true,
        range: {
            'min': 20,
            'max': 80
        }
    });
    $("#drag-fixed").noUiSlider({
        start: [40, 60],
        behaviour: 'drag-fixed',
        connect: true,
        range: {
            'min': 20,
            'max': 80
        }
    });
    $('.clockpicker').clockpicker();
    $('input[name="daterange"]').daterangepicker();
    $('#reportrange span').html(moment().subtract(29, 'days').format('MMMM D, YYYY') + ' - ' + moment().format('MMMM D, YYYY'));
    $('#reportrange').daterangepicker({
        format: 'MM/DD/YYYY',
        startDate: moment().subtract(29, 'days'),
        endDate: moment(),
        minDate: '01/01/2012',
        maxDate: '12/31/2015',
        dateLimit: { days: 60 },
        showDropdowns: true,
        showWeekNumbers: true,
        timePicker: false,
        timePickerIncrement: 1,
        timePicker12Hour: true,
        ranges: {
            'Today': [moment(), moment()],
            'Yesterday': [moment().subtract(1, 'days'), moment().subtract(1, 'days')],
            'Last 7 Days': [moment().subtract(6, 'days'), moment()],
            'Last 30 Days': [moment().subtract(29, 'days'), moment()],
            'This Month': [moment().startOf('month'), moment().endOf('month')],
            'Last Month': [moment().subtract(1, 'month').startOf('month'), moment().subtract(1, 'month').endOf('month')]
        },
        opens: 'right',
        drops: 'down',
        buttonClasses: ['btn', 'btn-sm'],
        applyClass: 'btn-primary',
        cancelClass: 'btn-default',
        separator: ' to ',
        locale: {
            applyLabel: 'Submit',
            cancelLabel: 'Cancel',
            fromLabel: 'From',
            toLabel: 'To',
            customRangeLabel: 'Custom',
            daysOfWeek: ['Su', 'Mo', 'Tu', 'We', 'Th', 'Fr','Sa'],
            monthNames: ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December'],
            firstDay: 1
        }
    }, function(start, end, label) {
        console.log(start.toISOString(), end.toISOString(), label);
        $('#reportrange span').html(start.format('MMMM D, YYYY') + ' - ' + end.format('MMMM D, YYYY'));
    });
    $('.dual_select').bootstrapDualListbox({
        selectorMinimalHeight: 160
    });
    $('.tagsinput').tagsinput({
        tagClass: 'label label-primary'
    });


});



</script>

<% end %>
