<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta name="viewport" content="width=device-width" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <style type="text/css">
        *{margin:0;padding:0;font-family:"Helvetica Neue",Helvetica,Helvetica,Arial,sans-serif;box-sizing:border-box;font-size:14px}img{max-width:100%}body{-webkit-font-smoothing:antialiased;-webkit-text-size-adjust:none;width:100%!important;height:100%;line-height:1.6}table td{vertical-align:top}body{background-color:#f6f6f6}.body-wrap{background-color:#f6f6f6;width:100%}
        .container{display:block!important;max-width:1200px!important;margin:0 auto!important;clear:both!important}.content{max-width:1200px;margin:0 auto;display:block;padding:20px}.main{background:#fff;border:1px solid #e9e9e9;border-radius:3px}.content-wrap{padding:20px}.content-block{padding:0 0 20px}
        .header{width:100%;margin-bottom:20px}.footer{width:100%;clear:both;color:#999;padding:20px}.footer a{color:#999}.footer a,.footer p,.footer td,
        .footer unsubscribe{font-size:12px}h1,h2,h3{font-family:"Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;color:#000;margin:40px 0 0;line-height:1.2;font-weight:400}h1{font-size:32px;font-weight:500}h2{font-size:24px}h3{font-size:18px}h4{font-size:14px;font-weight:600}ol,p,ul
        {margin-bottom:10px;font-weight:400}ol li,p li,ul li{margin-left:5px;list-style-position:inside}a{color:#1ab394;text-decoration:underline}.btn-primary{text-decoration:none;color:#FFF;background-color:#1ab394;border:solid #1ab394;border-width:5px 10px;line-height:2;font-weight:700;
          text-align:center;cursor:pointer;display:inline-block;border-radius:5px;text-transform:capitalize}.last{margin-bottom:0}
        .first{margin-top:0}.aligncenter{text-align:center}.alignright{text-align:right}.alignleft{text-align:left}.clear{clear:both}
        .alert{font-size:16px;color:#fff;font-weight:500;padding:20px;text-align:center;border-radius:3px 3px 0 0}.alert a{color:#fff;text-decoration:none;font-weight:500;font-size:16px}.alert.alert-warning{background:#f8ac59}.alert.alert-bad{background:#ed5565}.alert.alert-good{background:#1ab394}
        .invoice{margin:40px auto;text-align:left;width:80%}.invoice td{padding:5px 0}.invoice .invoice-items{width:100%}.invoice .invoice-items td{border-top:#eee 1px solid}.invoice .invoice-items .total td{border-top:2px solid #333;border-bottom:2px solid #333;font-weight:700}
        @media only screen and (max-width:1240px){h1,h2,h3,h4{font-weight:600!important;margin:20px 0 5px!important}h1{font-size:22px!important}h2{font-size:18px!important}h3{font-size:16px!important}.container{width:100%!important}.content,.content-wrap{padding:10px!important}.invoice{width:100%!important}}
          table {
              font-family: arial, sans-serif;
              border-collapse: collapse;
              width: 100%;
          }

          td, th {
              border: 1px solid #dddddd;
              text-align: left;
              padding: 8px;
          }
    </style>
</head>

<body>
  <button class="pull-right btn btn-success"onclick="printpage()">Print this page</button>

  <div class="row ibox-content">
    <div class="col-sm-2 ">
    </div>


    <div class="col-sm-8  aligncenter">

      <h1>
          Weekly Visit Report <br><br>
      </h1>
      <h2>
        <%=@start%> - <%=@end%>
        <br><br>
      </h2>

      <div class=" ">
        <table style="aligncenter">

          <tr>
            <td><strong>Name</strong></td>
            <td><%=@client.name%></td>
          </tr>
          <tr>
            <td><strong>Caregiver</strong></td>
            <td><%=@caregiver.name%></td>
          </tr>
          <tr>
            <td><strong>Address</strong></td>
            <td><%=@client.address%></td>
          </tr>
          <tr>
            <td><strong>City/State</strong></td>
            <td><%=@client.city%> / <%=@client.state%></td>
          </tr>
          <tr>
            <td><strong>Phone Number</strong></td>
            <td><%=@client.authorized_phone%></td>
          </tr>
        </table>
        <br>
      </div>




    <div class="">

      <div class=" ">
        <table bordercolor="white">
          <col width="700">
          <col width="300">
          <tr>
            <th style="border-right:1px none #dad">
            <table class="">
              <tr>
                <th>Activities</th>
                <th colspan="7">Activities Performed</th>
              </tr>

              <tr>
                <td><strong>PERSONAL CARE (PC)</strong></td>

                    <td>Sun</td>
                    <td>Mon</td>
                    <td>Tues</td>
                    <td>Wed</td>
                    <td>Thurs</td>
                    <td>Fri</td>
                    <td>Sat</td>
              </tr>
              <tr>
                <td>Dietary Needs</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
              </tr>
              <tr>
                <td>Dressing and Grooming</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
              </tr>
              <tr>
                <td>Bathing & Personal Hygiene</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
              </tr>
              <tr>
                <td>Toileting & Continence</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
              </tr>
              <tr>
                <td>Mobility & Transfer (client partial weight bearing)</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
              </tr>
              <tr>
                <td>Assist w/Self Adm of Meds & Non-Prescrip Top Oints/ Lotions</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
              </tr>
              <tr>
                <td>Medically Related Household Tasks <br>(check under HC & H2)</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
              </tr>
              <tr>
                <td><strong>HOMEMAKER / CHORE (HC)</strong></td>
                <td>Sun</td>
                <td>Mon</td>
                <td>Tues</td>
                <td>Wed</td>
                <td>Thurs</td>
                <td>Fri</td>
                <td>Sat</td>
              </tr>
              <tr>
                <td>Meals / Dishes</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
              </tr>
              <tr>
                <td>Clean Kitchen</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
              </tr>
              <tr>
                <td>Clean Bathroom</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
              </tr>
              <tr>
                <td>Clean Living Area</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
              </tr>
              <tr>
                <td>Make Bed / Change Linens</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
              </tr>
              <tr>
                <td>Laundry</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
              </tr>
              <tr>
                <td>Iron & Mend Clothing</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
              </tr>
              <tr>
                <td>Bag Trash & Put Out</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
              </tr>
              <tr>
                <td>Shop For Essential Items/Run Errands</td>
                <td><strong></strong></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
              </tr>
              <tr>
                <td>Read & Write Essential Correespondence</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
              </tr>
              <tr>
                <td><strong>ADVANCED PERSONAL CARE (APC)</strong></td>
                <td>Sun</td>
                <td>Mon</td>
                <td>Tues</td>
                <td>Wed</td>
                <td>Thurs</td>
                <td>Fri</td>
                <td>Sat</td>
              </tr>
              <tr>
                <td>Ostomy Hygiene</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
              </tr>
              <tr>
                <td>Catheheter Hygiene</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
              </tr>
              <tr>
                <td>Bowel Program</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
              </tr>
              <tr>
                <td>Aseptic Dressings</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
              </tr>
              <tr>
                <td>Non-Injection Meds</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
              </tr>
              <tr>
                <td>Passive ROM</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
              </tr>
              <tr>
                <td>Transfer w/ use of Assistive Device</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
              </tr>
              <tr>
                <td><strong>RESPITE CARE (R)</strong></td>
                <td>Sun</td>
                <td>Mon</td>
                <td>Tues</td>
                <td>Wed</td>
                <td>Thurs</td>
                <td>Fri</td>
                <td>Sat</td>
              </tr>
              <tr>
                <td>Supervision</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
              </tr>
              <tr>
                <td>Companionship</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
              </tr>
              <tr>
                <td>Direct Pt. Assist. (check under PC, HC, & AC)</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
              </tr>


            </table>
            </th>

            <th style="border-left:1px none #dad">
              <br><br>
            <div class="">
              <table>
                <tr>
                  <td><strong>Date:</strong> <strong class="pull-right">Sunday  7/1/17</strong></td>
                </tr>
                <tr>
                  <td><strong>Time In: </strong> <strong class="pull-right">10:00 am</strong></td>
                </tr>
                <tr>
                  <td><strong>Time Out:</strong> <strong class="pull-right">2:00pm</strong></td>
                </tr>
                <tr>
                  <td><strong>Units:</strong><strong class="pull-right">PC: 11 | HC: 0 | APC: 0 | R: 0</strong></td>
                </tr>

              </table>
            </div>
            <div class="">
              <table>
                <tr>
                  <td><strong>Date:</strong> <strong class="pull-right">Monday  7/2/17</strong></td>
                </tr>
                <tr>
                  <td><strong>Time In: </strong> <strong class="pull-right">10:00 am</strong></td>
                </tr>
                <tr>
                  <td><strong>Time Out:</strong> <strong class="pull-right">2:00pm</strong></td>
                </tr>
                <tr>
                  <td><strong>Units:</strong><strong class="pull-right">PC: 11 | HC: 0 | APC: 0 | R: 0</strong></td>
                </tr>

              </table>
            </div>
            <div class="">
              <table>
                <tr>
                  <td><strong>Date:</strong> <strong class="pull-right">Tuesday  7/3/17</strong></td>
                </tr>
                <tr>
                  <td><strong>Time In: </strong> <strong class="pull-right">10:00 am</strong></td>
                </tr>
                <tr>
                  <td><strong>Time Out:</strong> <strong class="pull-right">2:00pm</strong></td>
                </tr>
                <tr>
                  <td><strong>Units:</strong><strong class="pull-right">PC: 11 | HC: 0 | APC: 0 | R: 0</strong></td>
                </tr>

              </table>
            </div>
            <div class="">
              <table>
                <tr>
                  <td><strong>Date:</strong> <strong class="pull-right">Wednesday  7/4/17</strong></td>
                </tr>
                <tr>
                  <td><strong>Time In: </strong> <strong class="pull-right">10:00 am</strong></td>
                </tr>
                <tr>
                  <td><strong>Time Out:</strong> <strong class="pull-right">2:00pm</strong></td>
                </tr>
                <tr>
                  <td><strong>Units:</strong><strong class="pull-right">PC: 11 | HC: 0 | APC: 0 | R: 0</strong></td>
                </tr>

              </table>
            </div>
            <div class="">
              <table>
                <tr>
                  <td><strong>Date:</strong> <strong class="pull-right">Thursday  7/5/17</strong></td>
                </tr>
                <tr>
                  <td><strong>Time In: </strong> <strong class="pull-right">10:00 am</strong></td>
                </tr>
                <tr>
                  <td><strong>Time Out:</strong> <strong class="pull-right">2:00pm</strong></td>
                </tr>
                <tr>
                  <td><strong>Units:</strong><strong class="pull-right">PC: 11 | HC: 0 | APC: 0 | R: 0</strong></td>
                </tr>

              </table>
            </div>
            <div class="">
              <table>
                <tr>
                  <td><strong>Date:</strong> <strong class="pull-right">Friday  7/6/17</strong></td>
                </tr>
                <tr>
                  <td><strong>Time In: </strong> <strong class="pull-right">10:00 am</strong></td>
                </tr>
                <tr>
                  <td><strong>Time Out:</strong> <strong class="pull-right">2:00pm</strong></td>
                </tr>
                <tr>
                  <td><strong>Units:</strong><strong class="pull-right">PC: 11 | HC: 0 | APC: 0 | R: 0</strong></td>
                </tr>

              </table>
            </div>
            <div class="">
        <table>
          <tr>
            <td><strong>Date:</strong> <strong class="pull-right">Saturday  7/7/17</strong></td>
          </tr>
          <tr>
            <td><strong>Time In: </strong> <strong class="pull-right">10:00 am</strong></td>
          </tr>
          <tr>
            <td><strong>Time Out:</strong> <strong class="pull-right">2:00pm</strong></td>
          </tr>
          <tr>
            <td><strong>Units:</strong><strong class="pull-right">PC: 11 | HC: 0 | APC: 0 | R: 0</strong></td>
          </tr>

        </table> <br>
      </div>
            </th>
      </div>
    </div>

    </div>
    <div class="col-sm-2 ">
    </div>
  </div>

  <script>
  function printpage() {
      window.print();
  }
  </script>

</body>
</html>
