<!DOCTYPE html>
<html ng-app>
<head>
  <title>Callia</title>
  <%= Gon::Base.render_data %>
  <!-- Include style per-controller - vendor plugins -->
  <%= stylesheet_link_tag params[:controller] if ::Rails.application.assets.find_asset("#{params[:controller]}.css") %>

  <!-- Main css styles -->
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>

  <!-- Main javascript files -->
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag "//www.google.com/jsapi", "chartkick" %>
  <%= javascript_include_tag "https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js", "chartjs" %>

  <!-- For Payments -->
  <%= yield :koudoku %>

  <%= csrf_meta_tags %>
  <script>
      function PlaySound(melody) {
          var snd = new Audio(melody);
          snd.play();
      }
  </script>
</head>
<body>

  <% if user_signed_in? %>
    <!-- Wrapper-->
    <div id="wrapper" class="<%= params[:controller] %>.<%= params[:action] %>">

        <% if user_signed_in? %>
          <!-- Navigation -->
          <%= render 'layouts/navigation' %>
        <% end %>


        <!-- Page wraper -->
        <div id="page-wrapper" class="gray-bg <%= @extra_class %>">

          <% if user_signed_in? %>
            <!-- Page wrapper -->
            <%= render 'layouts/topnavbar' %>
          <% end %>


            <!-- Main view  -->
            <%= yield %>

            <!-- Footer -->
            <%= render 'layouts/footer' %>

        </div>
        <!-- End page wrapper-->

        <!-- Right sidebar -->
        <%= render 'layouts/rightsidebar' %>

    </div>
    <!-- End wrapper-->
  <% else %>

    <!-- Page wrapper as Wrapper -->
    <div id="wrapper" class="gray-bg <%= @extra_class %>">

      <div id="page-wrapper" class="gray-bg <%= @extra_class %>">

          <% if user_signed_in? %>
            <!-- Page wrapper -->
            <%= render 'layouts/topnavbar' %>
          <% end %>

          <!-- Main view  -->
          <%= yield %>

          <!-- Footer -->
          <%= render 'layouts/footer' %>
        </div>

    </div>
  <% end %>


    <!-- Include javascript per-controller - vendor plugins -->
    <%= javascript_include_tag params[:controller] if ::Rails.application.assets.find_asset("#{params[:controller]}.js") %>

    <!-- Include javascript per-view -->
    <!-- For demo purpose we include javascript in view but you can easily start SeedProject and organize it with Rails asset pipeline as you want -->
    <%= yield :javascript %>

</body>
</html>
